@charset "utf-8";

//-----import Sass File---------


@import "_set";

main {
	width: 960px;
	margin: 0 auto;
}
/////////////////////////////////////////////

.list-tab {
  margin-bottom: 0;
}

.list-tab li{
	display: inline-block;
  margin-bottom: 0;
	a{
		padding: 10px 15px;
		background: #000;
		color: #fff;
		border-radius: 10px 10px 0 0;
		&:hover{
			background: #C60019;
		}
	}
}

.list-tab li.current a{
	background: #C60019;
}

/////////////////////////////////////////////

h1 {
	margin-bottom: 30px;
}

.warp-tab div {
  padding: 20px;
  border:1px dotted #ddd;
}

span.type-01 {
  color: #ffffff;
  font-size: 34px;
  background: #C60019;
  transform: rotate(10deg);
  display: inline-block;
  font-size: 34px;
  line-height: 1.1;
  padding: 2px 3px;
  box-shadow: 4px 4px #000;
  margin-right: 5px;
}

span.type-02 {
  color: #fff;
  background: #000;
  transform: rotate(-5deg);
  display: inline-block;
  font-size: 24px;
  line-height: 1.1;
  padding: 2px 3px;
  box-shadow: 4px 4px #C60019;
  margin-right: 5px;
}

span.type-03 {
  color: #ffffff;
  background: #C60019;
  transform: rotate(2deg);
  display: inline-block;
  font-size: 32px;
  line-height: 1.1;
  padding: 2px 3px;
  box-shadow: 4px 4px #000;
  margin-right: 5px;
}

span.type-04 {
  color: #000;
  background: #fff;
  transform: rotate(8deg);
  display: inline-block;
  font-size: 36px;
  line-height: 1.1;
  padding: 2px 3px;
  box-shadow: 4px 4px #C60019;
  margin-right: 5px;
}